

.top-bar {
    background-color: #5e068a;
    color: white;
    font-size: 13px;
    

}

.link1 {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navbar{
    position: sticky;
    top:0px;
    z-index: 1;
}
.carousel-caption {
    margin-bottom: 108px;
    margin-left: 86px;


}

.heading-carousel {

    padding-bottom: 20px;
    font-weight: 700;
    font-size: 60px;

}

.carousel-para {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.carousel-btn1,
.carousel-btn2 {

    width: 10%;
    height: 50px;
    border-radius: 50px;
    /* background-color: #9e6ab9; */
    background-color: #5e068a;
    color: white;
    font-weight: 600;
    font-size: 16px;

}

.carousel-btn1 {
    margin-top: -171px;
    margin-left: 372px;
}

.carousel-btn2 {
    margin-top: -160px;
    margin-left: 372px;
}
.carousel-btn1:hover{
    background-color: #9e6ab9;
    color: white;
}
.carousel-btn2:hover{
    background-color: #9e6ab9;
    color: white;
}

.frm {
    border: 0px;
}

.formm {
    width: 80%;

}

.submit {
    background-color: #5e068a;
    color: white;
}

.cls-btn {
    margin-left: 753px;
}


.r-para {
    line-height: 28px;

}

.r-heading1 {
    font-weight: 700;
    font-size: 35px;
    color: #5e068a;

}

.r-heading2 {
    color: #9e6ab9;
}

.r-button {
    width: 22%;
    height: 60px;
    border-radius: 50px;
    background-color: #5e068a;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.r-button:hover{
    background-color: white;
    color: #5e068a;
    border: solid 2px #5e068a;
}

.r-img {
    width: 100%;
    height: 525.5px;
}

.fifth{
    background-color: #f5f5f5;
}
.fifth-h2{
    color:#5e068a;
    font-weight: 600;
}
.fifth-span1{
    color: #9e6ab9;
    font-weight: 600;
}

.r-img2{
    width:100%;
    margin-left: -23px;
    
}
.datascience{
    line-height: 1.8;
    font-size: smaller;
}
.fifth-one{
    transition: margin-top 0.10s;
    
}


.fifth-one:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:-3px;
    

}
.fifth-h4{
    font-weight: 500;
}
.fifth-link1{
    color:#5e068a;
    background-color: transparent;
    text-decoration: none;
}
.fifth-link2{
    color:#5e068a;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
}


@media(max-width:1230px){

    .heading-carousel{

        font-size: 30px;

        font-weight: 500;

    }

    .crsl-span{

        display: none;

    }

    .carousel-btn1,.carousel-btn2{

        width: 120px;

        height:43px;

        border-radius:50px;

    }

}

    





@media(max-width:770px){

    .heading-carousel{

        font-size: 20px;

        font-weight: 350;



    }

    .carousel-para{

        font-size: 16px;

    }

    .carousel-caption{

        font-size: 20px;
        line-height: 25px;
        padding-bottom: 10px;
    }

    .carousel-btn1{

        margin-top:-170px;

        margin-left: 175px ;

    }

    .carousel-btn2{

        margin-top: -160px;

        margin-left: 175px;

    }

    

}    
@media(max-width:428px){
    .carousel-caption{

        font-size: 16px;
        line-height: 5px;
        padding-bottom: 5px;
        margin-left:10px ;
        margin-top:-170px ;

    }
    .carousel-btn1{

        margin-top:-170px;

        margin-left: 100px ;

    }

    .carousel-btn2{

        margin-top: -160px;

        margin-left: 100px;

    }
}

.card{
    height:470px;
    width:90%;
}
.card-btn{
    background-color: #5e068a;
    color:white;
}
.card-btn:hover{
    background-color: #5e068a;
    color: white;
}


@media(max-width:992px){
    .course-item-sec{
        grid-row-gap:10px;
    }
}
@media(max-width:992px) and (min-width:776px){
    .card{
        height:auto;
    }
}
@media(max-width:768px){
    .phoneno{
        display:none;
    }
}
.next-sec{
    width: 100%;
    height: 200px;
}

.last-btn{
    border: 2px solid #5e068a;
    width: 169px;
    height:60px;
    border-radius: 50px;
    color:#5e068a;
    font-weight: 600;
}
.last-btn:hover{
    background-color: #5e068a;
    color: white;
}

.card1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:-3px;
    
}
.card2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:-3px;
}
.card3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:-3px;
}
.title{
    color:#5e068a;
    background-color: transparent;
    text-decoration: none;
    font-weight: 700;
    font-size: 18;
}
.card-text{
    line-height: 1.8;
}
.last-sec{
    background-color: #f5f5f5;
    width: 100%;
}
